body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f5f5f5;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

main {
	flex: 1;
	margin: 0;;
	display: flex;
	align-items: center;
}

.popup {
	margin: 50px auto;
	padding: 20px 40px 40px;
	width: 600px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.success-message {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	color: green;
	text-align: center;
}

.details {
	margin-top: 30px;
	font-size: 18px;
}

table {
	width: 100%;
    border-collapse: collapse;
}

th, td {
	padding: 20px 10px;
	border: 1px solid #ccc;
}

th {
	background-color: #f5f5f5;
	width: 100px;
}

.button-container {
	margin-top: 30px;
}

.button-container button {
	width: 100%;
	padding: 12px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
	margin-top: 10px;
}

#btn {
	background-color: #ced4da;
	color: black;
}